body {
    margin: 0;
    font-family: "Merriweather", serif;
    font-size: 1.07em;
    background-color: #f5f0e6;
    color: #4a3f35;
}

.container {
    display: flex;
}

.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: #d1bfa7;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.sidebar h2 {
    margin: 0;
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar ul li {
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: normal;
}

.sidebar ul li.selected {
    font-weight: bold;
}

.sidebar ul li ul {
    list-style: none;
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.sidebar ul li ul li {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: normal;
}

.sidebar ul li ul li.selected {
    font-weight: bold;
}

.about {
    width: 85%;
}

.content {
    margin-left: 25%;
    padding: 50px;
    text-align: justify;
    transition: margin-left 0.3s ease-in-out;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.hidden {
    display: none;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    z-index: 1000;
    cursor: pointer;
}

@media (max-width: 768px) {
    .fixed-sidebar {
        transform: translateX(-100%);
        width: 100%;
        padding-top: 4em;
    }

    .fixed-sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
        padding-left: 25px;
        padding-right: 25px;;
    }

    .about {
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }
}
